Models/*
runs/*
__pycache__
Model_architecture/__pycache__
data/*

!data/3.png
!data/3_output.gif
!data/5_output.gif
!data/architecture.png
!data/grid.png

!Models/ddpm_mnist.onnx
!Models/ddpm_face.onnx
!Models/face_noise_schedule.json
!Models/noise_schedule.json

!Models/onxx_converter_face.py
!Models/onxx_converter.py